<!DOCTYPE html>


<html>

<head>

    <title>Submission</title>
    <link rel='stylesheet' href='Style.css' />
</head>

<body>

    <div id="menu">
        <span>Submissions</span> <span>Profile</span> <span>Help</span>
    </div>
    <div>
        <h2>New Submission: File Upload</h2>
        <span class="buttons">
            <button>Upload File</button>
            <button>Metadata</button>
            <button>Complete Submission</button>
        </span>
    </div><br>
